---
import Layout from "../../layouts/Layout.astro";
import { type CollectionEntry, getCollection, render } from "astro:content";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  let collections = await getCollection("collections");
  const allWorks: CollectionEntry<"collections"> = {
    id: "_works",
    collection: "collections",
    data: { title: "Works" },
  };
  collections.push(allWorks);

  let works = (await getCollection("works")).filter((work) => work.data.image);

  return collections.map((collection) => ({
    params: { collection: collection.id },
    props: collection,
  }));
}

type Props = CollectionEntry<"collections">;

const collection = Astro.props;
const { Content } = await render(collection);

const works = (await getCollection("works"))
  .filter((work) => work.data.image)
  .filter(
    (work) =>
      work.data.collections?.includes(collection.data.uuid ?? "") ||
      collection.data.title === "Works"
  )
  .sort(
    (a, b) => a.data.title?.localeCompare(b.data.title || "(Untitled)") || 0
  );
---

<Layout title={collection.data.title || undefined}>
  <slot name="head">
    <title>{collection.data.title} - Atelier Romeny</title>
    <meta name="robots" content="noindex" />
  </slot>
  <section class="grid max-w-6xl mx-auto py-4">
    <!-- <h3>{collection.data.title}</h3> -->
    <Content />
    <div class="works-grid">
      {
        works.map((work) => (
          <a href={`/${collection.id}/${work.id}`}>
            <div class="work-item" data-key={work.id}>
              <div class="work-thumbnail-container">
                {work.data.image && (
                  <Image
                    src={work.data.image}
                    alt={work.data.title || ""}
                    width={300}
                    height={200}
                    class="work-thumbnail"
                  />
                )}
              </div>
              <div>
                {work.data.title || "(Untitled)"}
                {work.data.year_start && `, ${work.data.year_start}`}
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</Layout>

<style>
  @reference "../../styles/global.css";
  h1 {
    @apply text-2xl font-bold p-4;
  }
  .works-grid {
    /* display: grid; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* gap: 1rem; */
    @apply py-4 grid gap-4;
  }
  .work-item {
    text-align: center;
    @apply border bg-white p-8 pb-2;
  }
  .work-item img {
    /* max-width: 100%; */
    /* height: auto; */
    @apply border m-auto object-contain h-auto max-h-48 max-w-full p-2 bg-gray-300;
  }
</style>
