---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { data } from 'alpinejs';

const works = await getCollection('works');

works.sort((a, b) => a.id-b.id);
console.log(works.length);
---

<Layout>
  <h1>Works</h1>
  <div class="works-grid">
    {works.filter(work=>work.data.image).map((work) => (
      <div class="work-item" key={work.id}>
        {work.data.image && <Image src={work.data.image} alt={work.data.title} width={300} height={200} class="work-thumbnail"/>}
        <h2>{work.data.title}</h2>
        <p>{work.data.id}</p>
      </div>
    ))}
  </div>

  <style>
    @reference "../styles/global.css";
    .works-grid {
      /* display: grid; */
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      /* gap: 1rem; */
      @apply p-4 grid gap-4;
    }
    .work-item {
      text-align: center;
      @apply border bg-white p-2;

    }
    .work-item img {
      max-width: 100%;
      height: auto;
      @apply border
    }
  </style>
</Layout>